<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="css/custom.css" type="text/css"/>


    <script>
        $(document).ready(function(){



            $('#aMe').click(function(){
                $('html, body').animate({scrollTop: $("#scrollhereabout").offset().top } , 'slow');

            });

            $('#tMe').click(function(){
                $('html, body').animate({scrollTop: $("#scrollheretips").offset().top } , 'slow');

            });


        });

    </script>
</head>
<body>
<div class="container background-photo">
<div class="row">

    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">Symptom Assesment Interface</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="#" id ="aMe">About us</a></li>
                <li><a href="#" id="tMe">Tips</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href ="/login"> Log in</a></li>


            </ul>

        </div>
</div>
    </nav>
</div>


<div class="container ">
    <div class="row">

        <h1>Welcome to our website!</h1>

        <h4>Easiest and fastest way to contact your doctor and get feedback!</h4>
    </div>

</div>


</div>


<div class="container vtora-klasa">
    <div class="row backgroundFA">
        <div class="col-sm-4 text-center">
<h2>Fast</h2>

            <span class="fa-stack fa-lg big-icon">
<i class="fa fa-heartbeat big-icon fa-stack-1x"></i>
        </div>



        <div class="col-sm-4 text-center"> <h2>Secure</h2>

            <span class="fa-stack fa-lg big-icon">
<i class="fa fa-lock big-icon fa-stack-1x"></i>
        </div>




        <div class="col-sm-4 text-center"> <h2>Informative</h2>

            <span class="fa-stack fa-lg big-icon">
<i class="fa fa-info big-icon fa-stack-1x"></i>
        </div>

    </div>
</div>


<div class="container vtora-klasa">
    <div class="row backgroundAboutUs text-center" id ="scrollhereabout">

<div class="col-sm-10 col-sm-offset-1">
    <h3>About us</h3>
<p>Life is multi-faceted and your well-being solution should be as well.
    <br /> 
    From integrating with third-party vendors to connecting with your own internal systems to reflecting your unique look and feel,
    <br />  
    it’s how we make sure your program does what you need it to do.</p>
    <br /> 
    <hr />
    <br /> 
    <p>
            A holistic well-being solution can be thought of like a team. 
            <br /> 
            Each member has a job to do but must work seamlessly and cooperatively with the others. 
            <br /> 
            That’s what each component of our solutions does. The result? 
            <br /> 
            A cohesive program that helps you achieve the results you seek.
            <br /> 
    </p>
</div>
    </div>
</div>




<div class="container vtora-klasa" >
    <div class="row backgroundTips text-center" id="scrollheretips">

        <h2 >Tips</h2>
    <!--    <div class="col-sm-10 col-sm-offset-1">
            <h3>Tips</h3>
            <p>Nekoj tekst tuka podolg vaka.
                Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.
                Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.
                Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.
                Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.Nekoj tekst tuka podolg vaka.</p>
        </div>
    -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->

            <div class="carousel-inner ">
                <div class="item active">
                    <img src="images/Morning-Stretch.jpg" class="img img-responsive" alt="Morning Stretch">
                    <p>1. Copy your kitty: Learn to do stretching exercises when you wake up. It boosts circulation and digestion, and eases back pain.</p>
                    <br /> 
                </div>

                <div class="item">
                    <img src="images/breakfast.jpg" class="img img-responsive" alt="breakfast">

                    <p>2. Don’t skip breakfast. Studies show that eating a proper breakfast is one of the most positive things you can do if you are trying to lose weight.</p>
                    <br /> 
                </div>

                <div class="item">
                    <img src="images/brush.jpg" class="img img-responsive" alt="Brush teeth">


                    <p>3. Brush up on hygiene. Many people don't know how to brush their teeth properly. Improper brushing can cause as much damage to the teeth and gums as not brushing at all.</p>
                    <br /> 
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
</div>

</body>
</html>